body
{
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1
{
  margin: 2% auto 0 auto;
  font-size: 3.5rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 1.2;
}
h2
{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2rem;
}
h3
{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p
{
  line-height: 2;
}
hr
{
  width:5%;
  border-style: none;
  border-top-style: dotted;
  border-width:0.25rem;
  border-color: grey;
}
a
{
  color: #11999E;
  margin: 3rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover
{
  color: #EAF6F6;
}


                              /*Class Selectors*/

.top-cloud
{
  position: relative;
  left: 15.625rem;
}
.bottom-cloud
{
  position: absolute;
}
.top-container
{
  background-color: #e4f9f5;
  padding: 2rem;
}
.middle-container
{
  margin-top: 4rem;
}
.bottom-container
{
  background-color: #66BFBF;
  margin: 2rem 0 0 0;
  padding: 2rem 0 1rem 0;
}
.profile-pic
{
  border-radius:60%;
}
.Cplusplus
{
  height: 18%;
  width: 18%;
  float: left;
  margin-right: 2rem;
}
.Problem-Solving
{
  float: right;
  margin-left: 2rem;
}
.first-para
{
  margin: 0 auto 3% auto;
  font-weight: normal;
}
.skill-row
{
  width: 50%;
  margin: 5rem auto 6.25rem auto;
  text-align: left;
}
.last-para
{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.contact-me
{
  padding-top:1rem;
  margin-bottom: 4rem;
}
.profile
{
  margin-bottom: 4rem;
}
.skills
{
  margin-top: 4rem;
  margin-bottom: 9rem;
}
.first-line
{
  width:30%;
  margin: 0 auto;
}
.contact-message
{
  width:30%;
  margin: 1.5rem auto 2.5rem auto;
}
.get-in-touch
{
  margin-bottom: 4rem;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
